
<div>
<form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ffbd00" type = "ball-atom" [fullScreen] = "true"><p style="color: white">Loading...</ngx-spinner>
    <hr>
    <div class="form-group" >
        <input type="text" class="form-control" required #name = "ngModel" [class.is-invalid]="name.invalid && name.touched" name="username"
            [(ngModel)]="model.username" placeholder="UserName">
        <small class ="text-danger" [class.d-none] = "name.valid && name.touched"> Name is Required </small> 
    </div>
    <div class="form-group">
        <input type="password" class="form-control" required #password = "ngModel" [class.is-invalid]="name.invalid && name.touched" name="password"
            [(ngModel)]="model.password" placeholder="password">
            <small class ="text-danger" [class.d-none] = "password.valid && password.touched"> Password is Required </small> 
    </div>
    <div class="form-group text-center">
        <button  [disabled]="loginForm.form.invalid" class="btn btn-success mr-2" type="submit">Log In</button>
        <button class="btn btn-success mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>
</div>