<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand"  routerLink='/accountbalance' routerLinkActive='active'>Jondell Corp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink='/accountbalance' routerLinkActive='active'>Balances</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/charts' routerLinkActive='active' href="#">Charts</a>
          </li>
        </ul>

      </div>

      <div class="dropdown">
        
      </div>
      
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle> Welcome {{user.username}} </a>
          <div class="dropdown-menu" *dropdownMenu>
        
            <a class="dropdown-item" (click)="logout()"> LogOut </a>
          </div>
        </div>
  
    </div>
    
</nav>