<div class="container">
  <h2>Balance Overview</h2>
  <h6>Account balance summary</h6>
  <br />
  <div class="dropdown-divider"></div>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ffbd00" type = "ball-atom" [fullScreen] = "true"><p style="color: white">Loading...</ngx-spinner>
  <div class="row" *ngIf="isAdmin" style="padding-top: 30px">
    <div class="col-md-6">
      <input
        class="form-control"
        type="file"
        #fileInput
        (change)="readFile($event)"
      />
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="upload()">Upload</button>
      &nbsp;&nbsp;
      <a href="{{ templatePath }}">Download Excel Template</a>
    </div>
  </div>

  <div class="container mt-3" style="padding-top: 10px">
    <form
      class="form-inline"
      #form="ngForm"
      (ngSubmit)="loadTable()"
      novalidate
    >
      <div class="form-group">
        <label for="year">Balances of the Year : </label>
        <select
          class="form-control ml-1"
          style="width: 130px"
          id="year"
          [(ngModel)]="yearParam"
          name="year"
        >
          <option *ngFor="let year of yearList" [value]="year.value">
            {{ year.display }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left: 10px">
        Apply Filters
      </button>
      <button
        type="button"
        class="btn btn-info"
        (click)="resetFilters()"
        style="margin-left: 10px"
      >
        Reset Filter
      </button>
    </form>
  </div>

  <div style="padding-top: 20px">
    <table class="table">
      <tr class="btn-primary">
        <th width="15%">Year</th>
        <th>Month</th>
        <th>R & D</th>
        <th>Canteen</th>
        <th>CEO's Car</th>
        <th>Marketing</th>
        <th>Parking Fees</th>
      </tr>
      <tr
        *ngFor="
          let balance of tableData
            | paginate: { itemsPerPage: 6, currentPage: p }
        "
      >
        <td>{{ balance.year }}</td>
        <td>{{ balance.month }}</td>
        <td>Rs. {{ balance.rnD }}</td>
        <td>Rs. {{ balance.canteen }}</td>
        <td>Rs. {{ balance.ceoCar }}</td>
        <td>Rs. {{ balance.marketing }}</td>
        <td>Rs. {{ balance.parkingFees }}</td>
      </tr>
    </table>
    <div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
