<div class="container mt-3" >
  <h2>Graph Overview</h2>
  <h6>Account balance chart summary</h6>
  <br />
  <form class="form-inline" #form="ngForm" (ngSubmit)="loadChart()" novalidate>
    <div class="form-group px-2">
      <label for="year">Balances of the Year : </label>
      <select
        class="form-control ml-1"
        style="width: 130px"
        id="year"
        [(ngModel)]="yearParam"
        name="year"
      >
        <option *ngFor="let year of yearList" [value]="year.value">
          {{ year.display }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 10px">
      Apply Filters
    </button>
    <button
      type="button"
      class="btn btn-info"
      (click)="resetFilters()"
      style="margin-left: 10px"
    >
      Reset Filter
    </button>
  </form>
</div>

<div class="container mt-5">
  <div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>
