<div class="container mt-5">
  <div *ngIf="!loginMode" style="text-align: center">
    <h1>Jondell Corp Portal</h1>
    <p class="lead">Login to continue</p>
    <div class="text-center">
      <button (click)="loginToggle()" class="btn btn-primary btn-lg mr-2">
        login
      </button>
    </div>
  </div>

  <div *ngIf="loginMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-login (cancelLogin)="cancenLoginMode($event)"></app-login>
      </div>
    </div>
  </div>
</div>
